@font-face {
  font-family: 'folio-icon';
  src:  url('../fonts/folio-icon.eot?cs7nn8');
  src:  url('../fonts/folio-icon.eot?cs7nn8#iefix') format('embedded-opentype'),
    url('../fonts/folio-icon.ttf?cs7nn8') format('truetype'),
    url('../fonts/folio-icon.woff?cs7nn8') format('woff'),
    url('../fonts/folio-icon.svg?cs7nn8#folio-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

//helpers
@import 'helpers/variables';
@import 'helpers/clearfix';
@import 'helpers/grid-framework';
@import 'helpers/grid';
@import 'helpers/flex-content';
@import 'helpers/flex-vertical-aLign';
@import 'helpers/flex-wrap';
@import 'helpers/user-select';
@import 'helpers/browser-prefix';
@import 'helpers/extends';


//components
@import 'defaults';
@import 'positioning';
@import 'icons';
@import 'grid';
@import 'structure';
/*@import 'animate';*/

@import 'responsive';