<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Style Guide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"> 
    </head>
    <body ng-app="app">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-3">
                            <br/>
                            <br/>
                            <br/>
                            <h5 class="text-uppercase t-black-1">colors</h5>
                            <br/>
                            <br/>
                            <br/>
                            <ul>
                                <li class="t-blue-1 f20 regular">.t-blue-1 - #2967DE</li>
                                <li class="t-blue-2 f20 regular">.t-blue-2 - #ECF3FF</li>
                                <li class="t-green-1 f20 regular">.t-green-1 - #54BA60</li>
                                <li class="t-green-2 f20 regular">.t-green-2 - #EBFFED</li>
                                <li class="t-red-1 f20 regular">.t-red-1 - #D54245</li>
                                <li class="t-red-2 f20 regular">.t-red-2 - #FFE4E5</li>
                                <li class="t-yellow-1 f20 regular">.t-yellow-1 - #F0B92F</li>
                                <li class="t-yellow-2 f20 regular">.t-yellow-2 - #FFFEE9</li>
                                <li class="t-purple-1 f20 regular">.t-purple-1 - #9542D5</li>
                            </ul>
                            <br/>
                            <br/>
                            <br/>
                            <ul>
                                <li class="t-black-1 f20 regular">.t-black-1 - #000000</li>
                                <li class="t-black-2 f20 regular">.t-black-2 - #202020</li>
                                <li class="t-black-3 f20 regular">.t-black-3 - #303030</li>
                                <li class="t-gray-1 f20 regular">.t-gray-1 - #808080</li>
                                <li class="t-gray-2 f20 regular">.t-gray-2 - #AAAAAA</li>
                                <li class="t-gray-3 f20 regular">.t-gray-3 - #CCCCCC</li>
                                <li class="t-gray-4 f20 regular">.t-gray-4 - #F5F5F5</li>
                            </ul>
                        </div>
                        <div class="col-sm-9 ">
                            <br/>
                            <br/>
                            <br/>
                            <h5 class="text-uppercase t-black-1">background colors</h5>
                            <br/>
                            <br/>
                            <br/>
                            <div class="d-inline bg-blue-1 t-white f15" style="padding:15px 10px;">.bg-blue-1</div>
                            <div class="d-inline bg-green-1 t-white f15" style="padding:15px 10px;">.bg-green-1</div>
                            <div class="d-inline bg-red-1 t-white f15" style="padding:15px 10px;">.bg-red-1</div>.
                            <div class="d-inline bg-yellow-1 t-white f15" style="padding:15px 10px;">.bg-yellow-1</div>
                            <div class="d-inline bg-purple-1 t-white f15" style="padding:15px 10px;">.bg-purple-1</div>
                            <br/>
                            <div class="d-inline bg-blue-2 t-blue-1 f15" style="padding:15px 10px;">.bg-blue-2</div>
                            <div class="d-inline bg-green-2 t-green-1 f15" style="padding:15px 10px;">.bg-green-2</div>
                            <div class="d-inline bg-red-2 t-red-1 f15" style="padding:15px 10px;">.bg-red-2</div>.
                            <div class="d-inline bg-yellow-2 t-yellow-1 f15" style="padding:15px 10px;">.bg-yellow-2</div>
                            <br/>
                            <br/>
                            <br/>
                            <div class="d-inline bg-black-1 t-white f15" style="padding:15px 10px;">.bg-black-1</div>
                            <div class="d-inline bg-black-2 t-white f15" style="padding:15px 10px;">.bg-black-2</div>
                            <div class="d-inline bg-black-3 t-white f15" style="padding:15px 10px;">.bg-black-3</div>.
                            <div class="d-inline bg-gray-1 t-white f15" style="padding:15px 10px;">.bg-gray-1</div>
                            <div class="d-inline bg-gray-2 t-white f15" style="padding:15px 10px;">.bg-gray-2</div>
                            <div class="d-inline bg-gray-3 t-white f15" style="padding:15px 10px;">.bg-gray-3</div>
                            <div class="d-inline bg-gray-4 t-gray-1 f15" style="padding:15px 10px;">.bg-gray-4</div>
                        </div>
                    </div>
                    <div class="row add-top-9">
                        <div class="col-sm-12">
                            <div role="tabpanel" class="full-width">
                              <tabset>
                                  <tab title="processing">
                                    Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea
                                    graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id,
                                    eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum
                                    nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr
                                    corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri,
                                    omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea
                                    noluisse deterruisset sea.
                                  </tab>
                                  <tab title="order info">
                                    order info
                                  </tab>
                                  <tab title="tab 3">
                                    Just another tab!
                                  </tab>
                            </tabset>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <br/>
                    <br/>
                    <br/>
                    <h5 class="text-uppercase t-black-1 text-center">buttons</h5>
                    <br/>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="pad-right-2 f15">11px FS</span> <a href="#"class="btn style1 bg-blue-1 t-white">New Button</a>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-blue-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-blue-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-blue-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-blue-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-green-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-green-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-green-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-green-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-green-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-red-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-red-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-red-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-red-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-red-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-yellow-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-yellow-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-yellow-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-yellow-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-yellow-1 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-black-2 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-black-2 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-black-2 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-black-2 t-white">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-black-2 t-white">New Button</button>

                        </div>
                        <div class="col-sm-6">
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-white br-blue-1 t-blue-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-white br-blue-1 t-blue-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-white br-blue-1 t-blue-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-white br-blue-1 t-blue-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-white br-blue-1 t-blue-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-white br-green-1 t-green-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-white br-green-1 t-green-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-white br-green-1 t-green-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-white br-green-1 t-green-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-white br-green-1 t-green-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-white br-red-1 t-red-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-white br-red-1 t-red-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-white br-red-1 t-red-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-white br-red-1 t-red-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-white br-red-1 t-red-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-white br-yellow-1 t-yellow-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-white br-yellow-1 t-yellow-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-white br-yellow-1 t-yellow-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-white br-yellow-1 t-yellow-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-white br-yellow-1 t-yellow-1">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-white br-black-2 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-white br-black-2 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-white br-black-2 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-white br-black-2 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-white br-black-2 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">11px FS</span> <button class="btn style1 bg-white br-gray-3 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">12px FS</span> <button class="btn style2 bg-white br-gray-3 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">14px FS</span> <button class="btn style3 bg-white br-gray-3 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">16px FS</span> <button class="btn style4 bg-white br-gray-3 t-black-2">New Button</button>
                            <br/>
                            <br/>
                            <br/>
                            <span class="pad-right-2 f15">18px FS</span> <button class="btn style5 bg-white br-gray-3 t-black-2">New Button</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </body>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript">
    (function(window) {

        angular.module('app', []).
          directive('tabset', function() {
            return {
              restrict: 'E',
              transclude: true,
              scope: {},
              controller: [ "$scope", function($scope) {
                var tabs = $scope.tabs = [];
         
                $scope.select = function(tab) {
                  angular.forEach(tabs, function(tab) {
                    tab.selected = false;
                  });
                  tab.selected = true;
                }
         
                this.addTab = function(tab) {
                  if (tabs.length == 0) $scope.select(tab);
                  tabs.push(tab);
                }
              }],
              template:
                '<div class="tabbable">' +
                  '<ul class="nav nav-tabs">' +
                    '<li ng-repeat="tab in tabs" ng-class="{active:tab.selected}">'+
                      '<a href="" ng-click="select(tab)">{{tab.title}}</a>' +
                    '</li>' +
                  '</ul>' +
                  '<div class="tab-content" ng-transclude></div>' +
                '</div>',
              replace: true
            };
          }).
          directive('tab', function() {
            return {
              require: '^tabset',
              restrict: 'E',
              transclude: true,
              scope: { title: '@' },
              link: function(scope, element, attrs, tabsCtrl) {
                tabsCtrl.addTab(scope);
              },
              template:
                '<div class="tab-pane" ng-class="{active: selected}" ng-transclude>' +
                '</div>',
              replace: true
            };
          })
        // .directive('tabset', function() {
        //   return {
        //     restrict: 'E',
        //     transclude: true,
        //     scope: { },
        //     templateUrl: 'tabset.html',
        //     bindToController: true,
        //     controllerAs: 'tabset',
        //     controller: function() {
        //       var self = this
        //       self.tabs = []
        //     }
        //   }
        // })
        // self.addTab = function addTab(tab) {
        //   self.tabs.push(tab)
        // }
        // })

    })(window);
    </script>
</html>